@keyframes like-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes delete-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.animate-like {
  animation: like-animation 0.3s ease-in-out;
}

.animate-delete {
  animation: delete-animation 0.3s ease-in-out;
}

.icon-liked {
  fill: blue;
}

.icon-unliked {
  fill: gray;
}

.icon-deleted {
  fill: red;
}

.icon-default {
  fill: gray;
}
